.bento-wallet {
	height: 40%;
	position: absolute;
	top: 2rem;
	left: 2rem;
	right: 2rem;
}

.wallet-cash {
	z-index: 4;
	width: 100%;
	max-width: none;
	background-color: #333;
	border-radius: 1rem;
	display: block;
	position: absolute;
	bottom: 0;
	box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1px .4px rgba(0, 0, 0, .03), 0 2px .8px rgba(0, 0, 0, .04), 0 3px 1.6px rgba(0, 0, 0, .043), 0 5px 2.9px rgba(0, 0, 0, .047), 0 9px 5.3px rgba(0, 0, 0, .047), 0 15px 10.4px rgba(0, 0, 0, .05), 0 31px 22.8px rgba(0, 0, 0, .055);
}

.wallet-card {
	width: 90%;
	height: auto;
	max-width: none;
	transform-origin: 0%;
	border-radius: 1rem;
	display: block;
	position: absolute;
	transition: transform .4s;
}

.wallet-card.starbucks {
	z-index: 3;
	width: 85%;
	bottom: -25%;
	left: 10%;
	transform: rotate(-4deg);
	box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1px .4px rgba(0, 0, 0, .03), 0 2px .8px rgba(0, 0, 0, .04), 0 3px 1.6px rgba(0, 0, 0, .043), 0 5px 2.9px rgba(0, 0, 0, .047), 0 9px 5.3px rgba(0, 0, 0, .047), 0 15px 10.4px rgba(0, 0, 0, .05), 0 31px 22.8px rgba(0, 0, 0, .055);
}

.wallet-card.nike {
	z-index: 2;
	width: 80%;
	bottom: -23%;
	left: 13%;
	transform: rotate(-12deg);
	box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1px .4px rgba(0, 0, 0, .03), 0 2px .8px rgba(0, 0, 0, .04), 0 3px 1.6px rgba(0, 0, 0, .043), 0 5px 2.9px rgba(0, 0, 0, .047), 0 9px 5.3px rgba(0, 0, 0, .047), 0 15px 10.4px rgba(0, 0, 0, .05), 0 31px 22.8px rgba(0, 0, 0, .055);
}

.wallet-card.victoria {
	z-index: 1;
	width: 75%;
	bottom: -23%;
	left: 13%;
	transform: rotate(-20deg);
	box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1px .4px rgba(0, 0, 0, .03), 0 2px .8px rgba(0, 0, 0, .04), 0 3px 1.6px rgba(0, 0, 0, .043), 0 5px 2.9px rgba(0, 0, 0, .047), 0 9px 5.3px rgba(0, 0, 0, .047), 0 15px 10.4px rgba(0, 0, 0, .05), 0 31px 22.8px rgba(0, 0, 0, .055);
}

.wallet-cards-group {
	position: absolute;
	top: -4rem;
	bottom: 1rem;
	left: -1rem;
	right: 0;
	overflow: hidden;
}

@media screen and (min-width: 479px) {
	.bento-card:hover .wallet-card.starbucks {
		transform: rotateZ(-6deg);
		transform-style: preserve-3d;
	}

	.bento-card:hover .wallet-card.nike {
		transform: rotateZ(-18deg);
		transform-style: preserve-3d;
	}

	.bento-card:hover .wallet-card.victoria {
		transform: rotateZ(-30deg);
		transform-style: preserve-3d;
	}
}

@media screen and (max-width: 991px) {
	.bento-wallet {
		top: 2rem;
		left: 3rem;
		right: 3rem;
	}

	.wallet-cash,
	.wallet-card {
		border-radius: .5rem;
	}

	.wallet-cards-group {
		left: -1rem;
	}
}

@media screen and (max-width: 767px) {
	.bento-wallet {
		height: 60%;
		top: auto;
		bottom: 3rem;
	}

	.wallet-cash,
	.wallet-card {
		border-radius: 1rem;
	}
}

@media screen and (max-width: 479px) {
	.bento-wallet {
		height: 60%;
		top: auto;
		bottom: 5rem;
		left: 1rem;
		right: 1rem;
	}

	.wallet-cash,
	.wallet-card {
		border-radius: 2vw;
	}

	.wallet-card.starbucks {
		bottom: -18%;
	}

	.wallet-card.nike {
		bottom: -17%;
	}

	.wallet-card.victoria {
		bottom: -14%;
	}

	.wallet-cards-group {
		top: 0;
	}
}