@font-face {
	font-family: 'Larken';
	src: url('./Larken-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Hellix';
	src: url('./Hellix-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Hellix';
	src: url('./Hellix-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('./SF-Pro-Display-Semibold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}